---
import Testimonialform from "../components/Testimonialform.astro";
import Buttons from "../components/Buttons.astro";
import Header from "../components/Header.astro";
import Video from "../components/Video.astro";
import Footer from "../components/Footer.astro";
const { variant, link, leadto } = Astro.props;
import "../style/styleCSS.css";
import Testimonialsview from "../components/Testimonialsview.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css?family=Dosis"
      rel="stylesheet"
    />
    <title>Playroom</title>
  </head>
  <body>
    <!-- FrontPage [Gif Background Part]  -->
    <div class="FrontPage">
      <Header />
      <div class="FrontPageContent">
        <div class="FrontPageLogo">
          <img class="FrontPageSVG" src="/svg/Playroom.svg" alt="" />
        </div>
        <div class="FrontPageButton">
          <Buttons variant="primary">Book Nu!</Buttons>
        </div>
        <div class="FrontPageArrow">
          <script
            src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
          ></script>
          <lottie-player
            src="/images/ArrowAnimation.json"
            background="transparent"
            speed="0.80"
            style="width: 1000px; height: 100px;"
            loop
            autoplay></lottie-player>
        </div>
      </div>
    </div>

    <!-- FrontVideo [Video Part]  -->

    <div class="FrontVideoPage">
      <div class="FrontVideoContent">
        <div class="FrontVideoHero">
          <h1>THIS IS A VIDEO!</h1>
        </div>
        <div class="FrontVideoVideo">
          <Video />
        </div>
        <div class="FrontVideoBread">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
        <div class="FrontVideoButton">
          <Buttons variant="primary">Book Nu!</Buttons>
        </div>
      </div>
    </div>

    <div class="FrontTestPage">
      <div class="FrontTestContent">
        <div class="FrontTestHero">
          <h2>THIS IS A TESTIMONIAL!</h2>
        </div>
        <div class="FrontTestTest">
          <!-- PLACERHOLDER TIL CAROUSEL | Pop-Up Tutorial https://www.w3schools.com/howto/howto_js_popup_form.asp  -->
          <Testimonialsview />
        </div>
        <div class="FrontTestBread">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </div>
        <div class="FrontTestButton">
          <Buttons variant="primary" link="/forms">Skriv Anmeldelse</Buttons>
        </div>
      </div>
    </div>

    <Footer />
    <!-- FrontVideo [Video Part]  -->
  </body>
  <script src="../js/carousel.js"></script>
</html>

<style>
  body {
  }

  .FrontPage {
    height: 100vh;
    background-image: url("https://cdn.discordapp.com/attachments/1032766033188093974/1100326665084743680/dukker-hnger-loft-6.gif");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
  }

  .FrontPageContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .FrontPageLogo {
  }

  .FrontPageSVG {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .FrontVideoContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem;
  }

  .FrontVideoBread {
    max-width: 70rem;
  }

  .FrontTestContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem;
  }

  .FrontTestBread {
    max-width: 70rem;
  }
</style>
