---
import Testimonialform from "../components/Testimonialform.astro";
import Buttons from "../components/Buttons.astro";
import "../style/styleCSS.css";
import Testimonial from "../components/Testimonial.astro";
import Testimonialsview from "../components/Testimonialsview.astro";





---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro hej hej test</h1>

    <Testimonialsview/>

  </body>

  <script src="../js/carousel.js"></script>
  <!-- <script src="../js/acceptedcheck.js"></script> -->
</html>

<style>

</style>
