---
import Testimonialform from "../components/Testimonialform.astro";
import Buttons from "../components/Buttons.astro";
import "../style/styleCSS.css";
import Testimonial from "../components/Testimonial.astro";
import Testimonialsview from "../components/Testimonialsview.astro";
// import "../style/testimonials.css";

// const data = await fetch(
//   "https://rjqxbkxyeiliahfcavoc.supabase.co/rest/v1/test_testimonials",
//   {
//     method:"GET",
//     headers:{
//       apikey:
//       "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqcXhia3h5ZWlsaWFoZmNhdm9jIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODE0NTc2MTgsImV4cCI6MTk5NzAzMzYxOH0.lRZslMI3go7rJxvuLYA38YV70GObp7hGW1_yiYqIQkk"
//     }
//   }
// ).then((res)=>res.json());




---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro hej hej test</h1>

    <Testimonialsview/>

    <!-- <div class="carousel">
      {
        data.map((testimonial)=>{
          return <Testimonial data={testimonial}/>;
        })
      }
      <button class="prev-button">&#8249;</button>
      <button class="next-button">&#8250;</button>
    </div> -->

    <!-- <section class="testimonials">
      {
        data.map((testimonial)=>{
          return <Testimonial data={testimonial}/>;
        })
      }
    </section> -->
  </body>

  <script src="../js/carousel.js"></script>
</html>

<style>

</style>
