:root {
  --font-head: Montserrat, Helvetica, sans-serif;
  --font-main: Montserrat, Helvetica, sans-serif;

  --colour-accent: #000000;
  --colour-base: #000000;
  --colour-background: #000000;
  --colour-text: #000000;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;

  font-family: var(--font-main);
  color: var(--colour-text);

  transition-property: box-shadow, background, border-color, color, fill, stroke;
  transition-duration: 175ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--colour-background);
  overflow-x: hidden;

  justify-content: center;
  align-items: center;
}
