---
---

<footer>
  <div class="FooterImage">
    <div class="FooterContent">
      <div class="FooterSocials">
        <a href="https://www.facebook.com/royalescapescph"
          ><img src="../icons/fb_icon.svg" alt="facebook icon" /></a
        >
        <a href="/"><img src="../icons/email_icon.svg" alt="email icon" /></a>
      </div>
      <div class="FooterCards">
        <div class="FooterCard1">
          <a href="/"
            ><img
              class="MailSVG"
              src="../icons/Envelope.svg"
              alt="mail icon"
            /></a
          >
          <div class="MailCont">
            <p>info@royalescapes.dk</p>
          </div>
        </div>
        <div class="FooterCard2">
          <a
            href="https://www.google.com/maps/place/Royal+Escapes/@55.6861147,12.5872412,17z/data=!3m1!4b1!4m6!3m5!1s0x465253f02220d4b9:0xe64c6b91367cf407!8m2!3d55.6861147!4d12.5898161!16s%2Fg%2F11mxbdzkfc"
            ><img
              class="MapSVG"
              src="../icons/MapPin.svg"
              alt="location icon"
            /></a
          >
          <div class="LocationCont">
            <p>Royal Escapes, København K, Fredericiagade 30, 1310 København</p>
          </div>
        </div>
      </div>
    </div>
    <div class="FooterRights">
      <p>Copyright Royal Escapes 2021 © All Rights Reserved</p>
    </div>
  </div>
</footer>

<style>
  * {
  }

  body {
  }

  .FooterImage {
    background-image: url(../images/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    object-fit: cover;
  }

  .FooterContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
  }

  .FooterRights p {
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    font-size: ;
  }

  .FooterSocials {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 2.5rem;
  }

  .FooterCards {
    display: flex;
    gap: 4rem;
  }

  @media only screen and (min-width: 768px) {
    .FooterCards {
      flex-direction: row;
    }
  }

  @media only screen and (max-width: 767px) {
    .FooterCards {
      flex-direction: column;
    }
  }

  .FooterCard1 {
    background-color: var(--colour-text);
    padding: 2rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .FooterCard2 {
    background-color: var(--colour-text);
    padding: 2rem;
    width: 20rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .MailCont p {
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
  }

  .LocationCont p {
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
  }

  .MapSVG .MailSVG {
    width: 2rem;
    height: 2rem;
    color: var(--colour-base);
  }
</style>
