---
---

<header>
  <div class="HeaderBar">
    <div class="EscapeLogo">
      <a href="/"><img src="/svg/LogoEscape.svg" alt="logo" /></a>
    </div>
  </div>
</header>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
  }

  .HeaderBar {
    position: relative;
    background-color: var(--colour-accent);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .EscapeLogo {
    display: flex;
    justify-content: center;
  }
</style>
