---
---

<div class="VideoGraphic">
  <video poster="/images/coverbillede.webp" controls>
    <source src="/images/scaryvideo.webm" type="video/webm" />
    <source src="PLACEHOLDER" type="video/ogg" />
    Your browser does not support the video tag.
  </video>
</div>

<style>
  .VideoGraphic {
    display: flex;
    justify-content: center;
  }
  video {
    max-width: 72rem;
    width: 100%;
    height: auto;
  }
</style>
